<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
      <div class="container sredina">
        <img src="logo.jpg" alt="Brzi fast food">
        <h3>najbrza dostava u gradu</h3>
      </div>
      
    </header>
    <main>
      <div class="container sredina">
        <h2>Restorani</h2>
        <u1>
          <li>ABC</li>
          <li>Lele</li>
          <li>Oskar</li>
          <li>Cap Cap</li>
          <li>Promenada</li>
        </u1>
      </div>
      
    </main>
    <footer>
      <div class="container sredina">
        <h4>Brzi doo, Leskovac</h4>
        <h4>Proleterska 34</h4>
        <h4>055 256 256</h4>
      </div>
    
    </footer>
</body>
</html>
